$base-color: #000;
$highlight-color: #ea2427;
$select-color: #60a;
$background-dark-color: #3a037a;
$background-base-color: #520585;
$background-light-color: #6d0985;
$border-dark-color: #674097;

$content-width: 1180px;

$body-font: Helvetica, Arial, sans-serif;
$h2-font: 700 36px/36px Roboto, sans-serif;
$h3-font: 700 22px/24px Roboto, sans-serif;

$form-field-padding: 12px 6px;

$break-small: 480px;
