/* http://red-team-design.com/making-html-dropdowns-not-suck/ */

@import "variables";

.custom-dropdown > select {
  font-size: inherit; /* inherit size from .custom-dropdown */
  padding: $form-field-padding; /* add some space*/
  margin: 0; /* remove default margins */
  width: 100%;
  display: inline-block;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

  .custom-dropdown {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
  }

  .custom-dropdown > select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .custom-dropdown::before,
  .custom-dropdown::after {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 40px;
    background-color: $background-light-color;
  }

  .custom-dropdown::before { /*  Custom dropdown arrow */
    content: '▿';
    font-size: 24px;
    line-height: 1.6;
    bottom: -2px; /* fix zoom distorting */
    text-align: center;
  }

  .custom-dropdown::after { /*  Custom dropdown arrow cover */
    content: '';
    height: 19px;
  }

  /* FF only temporary & ugly fixes */
  /* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
  @-moz-document url-prefix() {
    .custom-dropdown > select { padding-right: .9em }
  }

}
