@import "variables";

input, textarea {
  padding: $form-field-padding;
  font-family: inherit;
  font-size: inherit;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: none;

  background-color: rgba(0, 0, 0, .6);

  &:target {
    display: block;
  }
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: table;
  min-width: 360px;
  min-height: 200px;

  background: $background-base-color;
  text-align: center;
  color: #fff;

  font-size: 14px;

  h3 {
    font: $h3-font;
    margin: 25px;
    padding: 15px 0 0;
    text-transform: uppercase;
  }

  .close {
    position: absolute;
    top: 0;
    right: 10px;

    a {
      font: $h2-font;
      font-weight: 300;
      color: #fff;
    }
  }

  &__form, &__contents, &__message {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
    h3 {
      margin: 20px 0;
    }
  }

  &__form {
    width: 360px;
    text-align: left;
    input, .custom-dropdown {
      margin: 6px 0 15px;
    }
    input, textarea {
      display: block;
      width: 100%;
      &[type=submit] {
        margin-top: 40px;
      }
    }
  }

  &__contents {
    width: 392px; /* fix zoom distorting */
    background-color: #fff;
    color: #000;
    text-align: left;
    h4 {
      margin-top: 10px;
      color: $background-light-color;
      font-weight: bold;
      text-align: left;
    }
    ol, ul {
      margin-left: 20px;
    }
    ol {
      list-style: decimal;
    }
    ul {
      list-style: disc;
    }
    p {
      margin: 10px 0;
    }
  }

  &__snippet-thumb {
    margin: 10px 0;
  }

  .btn-primary a, input[type=submit] {
    background: $background-light-color;
  }
}

.catalog, .markers {
  .details {
    width: 750px;
    .close a {
      color: #000;
    }
    &__form h3 {
      text-align: left;
    }
  }
}

.form {
  background-image: linear-gradient(to right, $background-light-color, $background-dark-color);
  color: #fff;
  text-align: center;

  section h3 {
    margin: 15px 0 25px;
    font: $h3-font;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__column {
    display: inline-block;
    margin: 25px;
    width: 31%;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;

    label {
      display: block;
      margin: 10px 0;

      &[for=width] {
        & ~ input {
          float: right;
          width: 49%;
        }
        & + input {
          float: left;
        }
      }
    }

    input {
      width: 100%;
    }

  }
}

@media all and (max-width: 750px) {
  .banner.catalog .snippet {
    width: auto;
  }
  .modal {
    .details {
      height: 100%;
      &.details-table {
        display: block;
        width: 100%;
        overflow-y: auto;
        .details__contents, .details__form {
          display: block;
          width: auto;
          padding: 10px 30px;
        }
      }
      &__snippet-thumb {
        display: none;
      }
      .close {
        top: 10px;
        a {
          font-size: 72px;
          color: #fff;
        }
      }
    }
  }
}
