/* /////////////////////////////////////////////////////

PROJECT NAME
creator@project.com @ Creator Company

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";



/* Variables
--------------------------------------------- */

$base-color: #000;
$highlight-color: #ea2427;
$select-color: #60a;
$background-light-color: #6d0985;
$background-dark-color: #3a037a;
$border-dark-color: #674097;

$content-width: 1180px;

$body-font: Helvetica, Arial, sans-serif;

$form-field-padding: 12px 6px;

$break-small: 480px;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";

@import "custom-select";


/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/RobotoRegular/RobotoRegular.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/RobotoBold/RobotoBold.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/RobotoLight/RobotoLight.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/RobotoMedium/RobotoMedium.ttf);
}

@font-face {
  font-family: 'Signpainter';
  src: url(../fonts/SignPainter_HouseCasual.ttf);
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

._left {
  float: left;
}

._right {
  float: right;
}

a {
  text-decoration: none;
}

header {
  max-width: $content-width;
  margin: auto;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;

  .header__content {
    min-width: 1024px;
    max-width: 1280px;
    display: flex;
    margin: auto;
  }

  .logo {
    width: 200px;
    height: 69px;
    background: url(../img/logo.png) 15px 20px no-repeat;
  }

  nav {
    flex-grow: 1;
  }

  .nav {
    text-align: right;

    &__item {
      display: inline-block;
      padding: 24px 15px 20px;

      text-align: center;

      &.selected {
        color: $select-color;
      }

      a {
        color: #000;
      }
    }
  }
}

.order-link {
  margin: 36px 0 24px;

  a {
    padding: 12px 60px;
    background: $background-dark-color;
    box-shadow: 0 0 0 1px $border-dark-color;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
}

.price {
  margin: 10px;
  font-family: 'Roboto Medium', sans-serif;
  font-size: 14px;
  font-weight: bold;

  .amount {
    font-size: 46px;
  }

}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: none;

  background-color: rgba(0, 0, 0, .6);

  &:target {
    display: block;
  }

  .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 40%;
    height: 200px;
    margin: auto;
    padding: 10px 15px;
    overflow: scroll;

    background-color: #fff;
    text-align: justify;

    .close {
      float: right;

      a {
        font-size: 36px;
        font-family: 'Roboto Light', sans-serif;
      }
    }

    h3 {
      font-family: 'Roboto Bold', sans-serif;
      font-weight: bold;
      padding: 15px 0 0;
      color: $background-light-color;
    }

    p {
      margin: 10px 60px;
      color: #000;
      text-align: center;
    }

  }

  &#give_feedback .details {
    background: #eee;
  }
}

.snippet {
  text-align: center;

  &__thumb {
    img {
      width: 100%;
    }
  }

  &__title {
    margin: 30px 0 25px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__description {
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
  }
}

.annotation {
  text-align: center;
  &__subtitle {
    margin-top: 25px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
  }

  &__description {
    width: 60%;
    margin: 25px auto 0;
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
  }
}

section {
  max-width: $content-width;
  margin: auto;
  padding: 90px 0;

  h2 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

}

.catalog {
  background-color: #f5f6f8;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .snippet {
    width: 360px;

    &__description {
      min-height: 100px;
    }
  }
}

.markers {
  overflow: hidden;

  img {
    float: right;
    margin: 0 15px;
  }

  .snippet {
    &__description {
      margin: 10px 15px 0 0;
    }
  }

  .price {
    margin-top: 40px;
  }
}

.features {
  background: $select-color url(../img/features-bg.jpg) 50% 0 no-repeat;
  color: #fff;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;

    .snippet {
      width: 250px;
      height: 230px;
      padding-top: 30px;

      &__description {
        font-family: 'Roboto Medium', sans-serif;
      }

      &:nth-child(1) {
        background: url(../img/feature1-bg.png) 50% 50% no-repeat;
      }
      &:nth-child(2) {
        background: url(../img/feature2-bg.png) 50% 50% no-repeat;
      }
      &:nth-child(3) {
        background: url(../img/feature3-bg.png) 50% 50% no-repeat;
      }
      &:nth-child(4) {
        background: url(../img/feature4-bg.png) 50% 50% no-repeat;
      }
    }
  }
}

.form {
  background-image: linear-gradient(to right, $background-light-color, $background-dark-color);
  color: #fff;
  text-align: center;

  h3 {
    margin: 25px 0 25px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
  }

  &__column {
    display: inline-block;
    margin: 25px;
    width: 31%;

    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    text-align: left;
    vertical-align: top;

    label {
      display: block;
      margin: 10px 0;
    }

    input {
      width: 100%;
      padding: $form-field-padding;
      font-size: inherit;
    }

    .note {
      margin-top: 20px;
      text-align: right;
    }

  }

  input[type=submit] {
    padding: 10px 50px;
    border: none;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $background-light-color;
  }
}

.feedback {
  background-color: #f5f6f8;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .comment {
    width: 300px;
    font-style: italic;

    &__body {
      margin-bottom: 25px;
      padding: 30px;
      background-color: #e7eaef;
      font-family: 'Roboto Light', sans-serif;
      font-size: 15px;

      &:after {
        content: '';
        position: absolute;
        display: block;
        margin-top: 30px;
        border-style: solid;
        border-width: 10px 12px;
        border-color: #e7eaef transparent transparent;
      }
    }

    &__thumb {
      height: 84px;
      width: 84px;
      border-radius: 50%;
      vertical-align: middle;
    }

    &__author {
      font-family: 'Roboto Bold', sans-serif;
      font-weight: bold;
      font-size: 22px;
      padding-left: 10px;
    }
  }

  &__add-link {
    margin: 70px 0 24px;
    text-align: center;

    a {
      padding: 10px 30px;
      box-shadow: 0 0 0 1px;
      font-family: 'Roboto Medium', sans-serif;
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
    }
  }

}

h1, h2, h3, h4 {
  text-align: center;
}

.banner {
  position: relative;

  &:after, &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 8px;
  }

  &:before {
    top: 5px;
    background-image: url(../img/edging-top.png);
  }

  &:after {
    bottom: 5px;
    background-image: url(../img/edging-bottom.png);
  }

  &.features:after,
  &.form:before,
  &.feedback:after,
  &.contacts:after
  {
    content: none;
  }

}

.promo {
  background-color: $select-color;
  background-image: linear-gradient(to right, $background-light-color, $background-dark-color);
  background-image: url(../img/promo.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 755px;
  color: #fff;

  &__title {
    padding-top: 140px;
  }

  &__subtitle {
    padding-top: 20px;
  }

  &__description {
    margin-top: 20px;
    padding: 15px;
    background: url(../img/h3-bg.png) 50% 50% no-repeat;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    color: #000;
  }

  h4 {
    padding: 55px;
    font-family: 'Signpainter', sans-serif;
    font-weight: bold;
    font-size: 50px;

    &:before {
      content: '';
      display: inline-block;
      width: 45px;
      height: 40px;
      background: url(../img/phone-icon.png) 0 0 no-repeat;
      transform: translateY(5px);
    }
  }
}

.gallery {
  background: #eee;
  padding-bottom: 25px;

  h3 {
    padding: 30px 0 25px;
  }

  .carousel {
    background: linear-gradient(to right, #ccc, #aaa 20%, #aaa 80%, #ccc);
    white-space: nowrap;
    overflow: hidden;
  }

  .carousel__item {
    display: inline-block;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0 5px #eee;
    &:first-child {
      margin-left: -40px;
    }
  }
}

.contacts {
  background-image: linear-gradient(to right, $background-light-color, $background-dark-color);
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }

  &__phone {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 50px 0 20px;
  }

  &__email {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 17px;
    margin: 20px;
  }

}

@media all and (min-width: 1300px) {
    header:before {
        background-size: 100%;
    }
}

@media all and (max-width: 1200px) {
  .header__content {
    font-size: 13px;
  }
}

@media all and (max-width: 1023px) {
  .header__content {
    min-width: auto;
  }
}

@media all and (max-width: 767px) {
  .header__content {
    display: block;
  }

  .nav {
    display: block;
  }

  .snippet {
    width: auto;
  }
}
