/* /////////////////////////////////////////////////////

PROJECT NAME
creator@project.com @ Creator Company

///////////////////////////////////////////////////// */


/* Compass Imports
--------------------------------------------- */

@import "compass/reset";



/* Variables
--------------------------------------------- */

$base-color: #000;
$highlight-color: #ea2427;
$select-color: #242cdc;

$content-width: 1000px;

$body-font: Helvetica, Arial, sans-serif;

$break-small: 480px;


/* Sprites
--------------------------------------------- */

// USE WITH RETINA SPRITES MIXIN
// $sprites: sprite-map("sprites/*.png", $spacing: 2px);
// $sprites2x: sprite-map("sprites_x2/*.png", $spacing: 4px);


/* Imports
--------------------------------------------- */

@import "libs/hidpi";
@import "libs/retina-sprites";
@import "base";
@import "grid";
@import "utils";
@import "modules";
@import "pages";



/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

._left {
  float: left;
}

._right {
  float: right;
}

a[href^=tel] {
  text-decoration: none;
}

header {
  background: #eee;

  &:before, &:after {
    content: '';
    display: block;
  }

  &:before {
    height: 148px;
    background: url(../img/header.png) 80% 0 no-repeat;
  }

  &:after {
    height: 4px;
    background-color: $select-color;
  }

}

.header__content {
  min-width: 1024px;
  max-width: 1280px;
  display: flex;
  margin: auto;
}

.logo {
  width: 200px;
  height: 70px;
  background: url(../img/logo.png) 50% 50% no-repeat;
}

nav {
  flex-grow: 1;
}

.nav {
  display: flex;

  &__item {
    flex-grow: 1;
    padding: 30px 5px 20px;

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    &.selected {
      background-color: $select-color;
      color: #fff;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.head-contacts {
  margin: 12px 20px;
  font-size: 13px;
  line-height: 1.2;
  text-align: right;
}

.order-link a {
  padding: 2px 15px;
  color: $base-color;
  background: #9195ed;
  box-shadow: 0 0 0 2px #99d;
  text-decoration: none;
}

.price .amount {
  color: $select-color;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: none;

  background-color: rgba(0, 0, 0, .7);

  &:target {
    display: block;
  }

  .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20px 30px;
    overflow: scroll;

    background-color: #fff;
    text-align: justify;

    .close {
      float: right;

      a {
        color: #000;
        text-decoration: none;
      }
    }

    h3 {
      padding: 15px;
      color: $select-color;
    }

    label, input[type=text], textarea {
      display: inline-block;
      width: 200px;
    }

    textarea {
      height: 150px;
    }

    p {
      margin: 10px 0;
    }

  }
}

.showcase {
  background: url(../img/markers-l.png) 0 100% no-repeat, url(../img/markers-r.png) 100% 100% no-repeat;

  ._catalog {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(to bottom, #fff, #fff 40%, #ccc);
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

section {
  max-width: $content-width;
  margin: auto;

  &._markers {
    height: 268px;
    text-align: center;

    h3 {
      padding: 20px 0 30px;
    }

    .stickers {
      margin-top: 25px;
      padding: 3px 15px;

      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .price {
      float: left;
    }

    .order-link {
      float: right;
    }
  }
}

.snippet {
  width: 50%;
}

.snippet__thumb {
  margin: 0 20px;
  float: left;
}

.snippet__title {
  margin: 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.snippet__description {
  text-transform: uppercase;
}

.snippet__more-link a {
  margin-top: 10px;
  color: #666;
}

.snippet .stickers {
  margin-top: 60px;
}

.snippet .price {
  float: right;
}

h3, h4 {
  text-align: center;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner {
  position: relative;
  margin-bottom: 4px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 4px;
    background-color: $select-color;
  }

  h3 {
    padding: 20px 0 30px;
  }

  h4 {
    padding: 40px 0;
    font-size: 20px;
  }

  section {
    overflow: hidden;

    &:after {
      content: '';
      clear: both;
    }
  }

  .thumb {
    background: #000;
    width: 480px;
    height: 250px;

    &._left {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &._right {
      margin-top: 20px;
      margin-left: 20px;
    }

  }

  &._features {
    background: #555 url(../img/features-bg.png);
    text-align: justify;

    section, h4 {
      color: #fff;
    }

    ul, p {
      padding: 0 15px;
    }

    li:before {
      content: '- ';
    }

    .banner__footer {
      background: #2a2a2a;
      margin-top: 20px;

      .order-link {
        font-size: 22px;
        padding-bottom: 30px;
        float: none;
        text-align: center;
        text-transform: uppercase;

        a {
          padding: 5px 50px;
          color: $select-color;
          background: none;
          box-shadow: 0 0 0 2px $select-color;
        }
      }

    }
  }

  &._feedback {
    bottom: -40px;
    background: url(../img/feedback-bg.png) 50% 100% no-repeat;

    &:after {
      bottom: -54px;
    }

    section {
      margin-bottom: 90px;
      overflow: visible;
    }

    .stickers {
      position: relative;
      bottom: -30px;
      font-size: 22px;

      .feedback__more-link {
        float: right;
      }
    }
  }

}

.gallery {
  background: #eee;
  padding-bottom: 25px;

  h3 {
    padding: 30px 0 25px;
  }

  .carousel {
    background: linear-gradient(to right, #ccc, #aaa 20%, #aaa 80%, #ccc);
    white-space: nowrap;
    overflow: hidden;
  }

  .carousel__item {
    display: inline-block;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0 5px #eee;
    &:first-child {
      margin-left: -40px;
    }
  }
}

.comment {
  position: relative;
  margin: 20px 45px;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    margin-left: -45px;
    background: $select-color;
}

  &__author {
    margin: 5px 0;
    color: $select-color;
  }

}

footer {
  background: #eee;
  padding: 30px 0 50px;

  .links {
    width: $content-width;
    margin: auto;
    text-align: right;
  }

}

@media all and (min-width: 1300px) {
    header:before {
        background-size: 100%;
    }
}

@media all and (max-width: 1200px) {
  .header__content {
    font-size: 13px;
  }
}

@media all and (max-width: 1023px) {
  .header__content {
    min-width: auto;
  }

  .stickers {
    padding: 0 10px;
  }

  footer .links {
    padding: 0 10px;
    width: auto;
  }
}

@media all and (max-width: 767px) {
  .header__content {
    display: block;
  }

  .nav {
    display: block;
  }

  .snippet {
    width: auto;
  }
}
