= label_tag name_id, caption: "Ваше имя"
= text_field_tag :customer_name, id: name_id, placeholder: "Имя"
= label_tag email_id, caption: "Мобильный телефон или е-mail"
= text_field_tag :email,
  id: email_id,
  pattern: "\\d+|\\S+@\\S+\\.\\w+",
  placeholder: "Мобильный телефон или e-mail",
  required: true
